REDMINE_VERSION={{ redmine_version }}
REDMINE_PORT={{ redmine_port }}

REDMINE_DB_POSTGRES={{ postgres_host }}
REDMINE_DB_PORT={{ postgres_port }}
REDMINE_DB_DATABASE={{ postgres_db }}
REDMINE_DB_USERNAME={{ postgres_user }}
REDMINE_DB_PASSWORD={{ vault_pg_password }}
REDMINE_SECRET_KEY_BASE="{{ lookup('password', '/tmp/redmine_secret length=64') }}"
REDMINE_DB_ENCODING=utf8
